@media only screen and (max-width: 576px){

    #quiensoy, #estudios, #tecnologias{
        scroll-margin-top: 65px;
    }
    /*Header en modo column*/
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*Cambiamos tamaño de foto y borde*/
    .foto-presentacion{
        margin-top: 35px;
        width: 60%;
        border: 6px solid aqua;
    }
    /*Ampliamos caja del texto de header*/
    .presentacion{
        width: 80%;
        margin-left: 20px;
    }
    /*Tamaño titulo*/
    h1{
        font-size: 2.5rem;
    }
    #quiensoy{
        width: 38vw;
    }
    /*Texto header*/
    .prstxt{
        font-size: 1.1rem;
    }
    /*Poner en columna caja sobre nosotros*/
    .qs{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    /*Ocultamos la imagen de ilustracion*/
    .ilustracion{
        display: none;
    }
    /*Estudios en modo column*/
    .estudio-container{
        align-items: center;
    }
    /*Ampliamos caja de estudios*/
    .campoEstudios{
        width: 50%;
    }
    /*Hacemos desaparecer un elemnto del footer*/
    .copy{
        display: none;
    }
    /*Footer centrado*/
    footer{
        justify-content: center;
    }
    .contxt{
        font-size: 0.6rem;
    }
    /*Margen seciones*/
    .seciones{
        margin-top: 35px;
    }
    /*Margen entre estudio y h2*/
    .estudio-container{
        margin-top: 15px;
    }
    /*Texto de estudio y centro*/
    .estxt{
        font-size: 0.9em;
    }
    /*Titulo estudio*/
    .campoEstudios > h3{
        font-size: 1.2em;
    }    
    /*Foto estudios*/
    .esimg{
        width: 45%;
    }
    /*Texto de quien soy*/
    .qsspan{
        padding-block: 0.5vh;
        font-size: 1rem;
    }
    /*foto de quien soy*/
    .qsfoto{
        width: 65%;
    }
    /*Caja menu*/
    nav{
        justify-content: center;
        padding-right: 0;
        gap: 6vw;
    }
    /*Quitamos efecto raya del menu ya que esta pensado para pulsar y no pasar por encima*/
    .nava:hover:after{
        width: 0%;
    }
    /*Adaptamos espacio bajo liniea azul*/
    #quiensoy ~ .bajoh2{width: 115px;}
    #estudios ~ .bajoh2{width: 100px;}
    #tecnologias ~ .bajoh2{width: 140px;}
    /*Desactivamos la linea azul bajo los h2*/
    #quiensoy:hover ~ .bajoh2{width: 7rem;}
    #estudios:hover ~ .bajoh2{width: 7rem;}
    #tecnologias:hover ~ .bajoh2{width: 7rem;}
    /*Margen de h2 estudios*/
    #estudios{
        margin-left: 15%;
        margin-top: 30px;
    }
    /*Margen raya azul de h2 estudios*/
    #estudios ~ .bajoh2{
        margin-left: 17%;
    }
    /*Tamaño texto nav*/
    .nava{
        font-size: 0.9rem;
    }
    /*TECNOLOGIAS*/
    .tecno-tarjet{
        width: 38%;
    }
    .tecno-h3{
        font-size: 1.1em;
    }
    /*Desactivamos hovers*/
    .campoEstudios:hover{
        background-color: rgb(41, 1, 161);
        color: white;
    }
    .tecno-tarjet:hover{
        background-color: rgb(41, 1, 161);
        .tecno-h3{
            color: white;
        }
    }

}