/*Variables*/
:root{
    --background-color: rgb(27, 0, 109);
    --text-color: white;
}
/*Caja header*/
header{
    background-color: rgb(48, 0, 137);
    color: var(--text-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2%;
}
/*Titulo principal*/
h1{
    margin-top: 0;
    font-size: 3rem;
}
/*Caja de foto mía*/
.foto-presentacion{
    border: 8px solid aqua;
    width: 25%;
}
/*Foto mía*/
.yo{
    width: 100%;
    display: block;
}
/*Caja con texto de h1 y txt*/
.presentacion{
    width: 38vw;
}